body {
  font-family: 'Arial, Verdana', sans-serif; }

#container {
  width: 1170px;
  border: 1px solid black;
  margin: 0 auto; }

@media all and (max-width: 1169px) {
  #container {
    width: 100%; }

  #header-top, #header-bottom {
    width: 100%; } }
header {
  position: fixed;
  width: 1170px;
  display: inline-block;
  box-sizing: border-box; }
  header #header-top {
    width: 100%;
    height: 68px;
    background-color: #1f2324;
    text-align: center;
    box-sizing: border-box; }
    header #header-top h1 {
      color: white;
      font-size: 2em;
      float: left;
      margin: 0.3em 0 0.8em 2em; }
    header #header-top #nav {
      float: right;
      width: 60%;
      margin: 1em 0.5em; }
      header #header-top #nav a {
        text-decoration: none;
        color: gray; }
      header #header-top #nav a:hover {
        color: white; }
      header #header-top #nav ul {
        display: inline-block;
        width: 100%; }
        header #header-top #nav ul li {
          float: left;
          width: 16.66667%;
          font-size: 0.8em; }
  header #header-bottom {
    display: inline-block;
    width: 100%;
    background-color: #f73b4c;
    text-align: center;
    box-sizing: border-box; }
    header #header-bottom #movies {
      margin: 1em 0.5em; }
      header #header-bottom #movies a {
        text-decoration: none;
        color: white; }
      header #header-bottom #movies ul {
        display: inline-block;
        width: 80%; }
        header #header-bottom #movies ul li {
          float: left;
          width: 16.66667%;
          font-size: 1em; }

#behind {
  background-color: #1f2324;
  width: 100%;
  height: 119px; }

#new1 {
  background-image: url("../images/spongebob.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 500px;
  display: none; }

#new2 {
  background-image: url("../images/mad-max.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 500px;
  display: none; }

#new3 {
  background-image: url("../images/ex-machina.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 500px;
  display: inline-block; }

.button {
  display: inline-block;
  padding: 20px 32px;
  text-align: center;
  border: 1px solid #dddddd;
  box-shadow: 1px 1px #000000;
  color: #dddddd;
  text-shadow: 1px 1px #000000;
  background-color: Transparent;
  overflow: hidden;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px; }

.button:hover {
  background-color: rgba(225, 225, 225, 0.5); }

.button:focus {
  outline: none; }

.btn1 {
  margin-top: 10em;
  margin-left: 30em; }

.btn2 {
  margin-top: 10em;
  margin-left: 1em; }

.img1 {
  margin-top: 3em;
  margin-left: 19em; }

.img1:hover {
  height: 120px; }

.img2:hover {
  height: 120px; }

.img3:hover {
  height: 120px; }

#about {
  width: 100%; }
  #about h1 {
    font-size: 2em;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px #000000;
    text-align: center;
    padding: 1em;
    margin-top: 0;
    margine-left: 20em; }
  #about p {
    font-size: 18px;
    color: white;
    text-shadow: 1px 1px #000000;
    text-align: center;
    padding-left: 15em;
    padding-right: 15em; }

#online {
  background-image: url("../images/black.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 500px; }
  #online h1 {
    font-size: 2em;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px #000000;
    text-align: center;
    padding-top: 1em; }
  #online p {
    font-size: 14px;
    color: #aaaaaa;
    text-shadow: 1px 1px #000000;
    text-align: center;
    padding: 2em 10em; }

#search {
  display: inline-block;
  font-size: 18px;
  color: #dddddd;
  width: 100%;
  margin-left: 5em; }

.col {
  float: left;
  border-radius: 100px;
  width: 25%; }

.col > input[type="checkbox"] {
  padding-bottom: 20px;
  line-height: 1.4em; }

.btn3 {
  margin-top: 0.5em;
  margin-left: 40em; }

#gallery {
  width: 100%;
  display: inline-block;
  background-color: #1f2324; }
  #gallery h1 {
    font-size: 2em;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px #000000;
    text-align: center;
    padding: 0.5em;
    margine-left: 20em; }

#group {
  margin-top: 0.5em;
  margin-left: 6em;
  display: inline-block; }

.images {
  margin: 5px 5px 0 5px;
  float: left;
  width: 229px;
  height: 350px; }

.frame {
  width: 229px;
  height: 299px;
  overflow: hidden; }

.images img {
  width: 100%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease; }

.images img:hover {
  width: 150%; }

.desc {
  padding: 6px;
  text-align: center;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px #000000; }

.desc:hover {
  color: #f73b4c; }

.year {
  text-align: center;
  color: gray;
  margin-bottom: 0.5em; }

.btn4 {
  display: inline-block;
  margin-top: 2em;
  margin-left: 40em;
  margin-bottom: 2em; }

#testimonial {
  background-image: url("../images/red.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 500px;
  display: inline-block; }
  #testimonial h1 {
    font-size: 2em;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px #000000;
    text-align: center;
    padding: 0.5em;
    margine-left: 20em; }
  #testimonial p {
    font-size: 1.2em;
    color: white;
    text-shadow: 1px 1px #000000;
    text-align: center;
    padding: 1em 8em; }

#coment {
  font-size: 4em;
  color: white;
  text-shadow: 1px 1px #000000;
  text-align: center;
  vertical-align: middle; }

#coment img {
  padding-left: 2em;
  padding-right: 2em; }

#name {
  font-size: 0.6em;
  color: white;
  text-shadow: 1px 1px #000000;
  text-align: center; }

#fan {
  font-size: 0.3em;
  color: white;
  text-shadow: 1px 1px #000000;
  text-align: center; }

#mail {
  background-image: url("../images/black.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 500px;
  display: inline-block; }
  #mail h1 {
    font-size: 2em;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px #000000;
    text-align: center;
    padding: 1em;
    margine-left: 20em; }
  #mail form input, #mail form textarea {
    background-color: Transparent;
    border: none;
    color: white;
    width: 100%;
    padding-top: 3em; }
  #mail form input:focus, #mail form textarea:focus {
    outline: none;
    color: white; }
  #mail form textarea {
    display: block;
    width: 100%; }
  #mail [placeholder]:hover::-webkit-input-placeholder {
    transition: transform 2s 0s;
    transform: translate(0, -50px); }
  #mail form div {
    display: inline-block;
    border-bottom: 2px solid gray; }

#name-info, #email-info {
  width: 47%; }

#name-info {
  margin-left: 3%; }

#message {
  width: 94%;
  margin-top: 50px;
  text-align: center;
  margin-left: 3%; }

.btn5 {
  display: inline-block;
  padding: 20px 50px;
  margin-top: 8em;
  margin-left: 40em;
  margin-bottom: 2em; }

.google-maps {
  position: relative;
  padding-bottom: 30%;
  overflow: hidden;
  background-color: #1f2324;
  opacity: 0.3; }
  .google-maps iframe {
    position: absolute;
    width: 100%;
    height: 500px;
    box-sizing: border-box; }

#sait-footer {
  display: block;
  width: 100%;
  height: 100px;
  background-color: #1f2324; }
  #sait-footer div {
    display: inline-block;
    width: 31%;
    text-align: center;
    padding-top: 35px; }

#footer1 p {
  color: rgba(128, 128, 128, 0.8);
  font-size: 1em; }

#footer2 p {
  color: #fff;
  font-size: 1em; }

#footer3 li {
  display: inline-block;
  margin-right: 5px;
  cursor: pointer; }

/*# sourceMappingURL=style.css.map */
